.NOTIFICATION{
    position: absolute;
    padding: 2rem 1rem;
    box-shadow: var(--box-shadow);
    font-size: 1rem;
    width: 25rem;
    border-radius: 1rem;

    left: 0rem;
    top: 3.5rem;
    z-index: 2222222;
    background-color: var(--main-bg-color);
}


.NOTIFICATION > p{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.NOTIFICATION_BOX{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
    transition: all .3s ease-in;

}

.NOTIFICATION_BOX:hover{
    background-color: var(--icons-color);
    color:var(--shadow-dark-color);
    border-radius: .3rem;
}

.NOTIFICATION_BOX_IMAGE{
    border-radius: 5rem;
}

.NOTIFICATION_BOX_INFO{
    margin-top: -.8rem;
}

.NOTIFICATION_BOX_INFO > h4{
    font-weight: 600;
    font-size: 1.4rem;

}

.NOTIFICATION_BOX_INFO > p{
    color: #333;
    
}

.NOTIFICATION_BOX_NEW{
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: aqua;
}




@media screen and (max-width: 35em){
    .NOTIFICATION{
        width: 20rem;
        left:-15rem;
    }

    .NOTIFICATION_BOX{
        font-size: 12px;
    }
}