.HEROSECTION{
    width: 80vw;
    margin: 6rem auto;

}

.HEROSECTION_BOX{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.HEROSECTION_BOX_LEFT{
    padding-right: 6rem;
}

.HEROSECTION_BOX_LEFT h1{
    font-size: 5rem;
    line-height: 1;
    padding: 0 0 2rem 0 ;
    color: var(--icons-color);
    font-weight: 700;
}

.HEROSECTION_BOX_LEFT p{
    margin-bottom: 2rem;
    color: var(--icons-color);
    font-size: 1.2rem;
    font-weight: 600;
}



@media screen and (max-width:35em){
    .HEROSECTION{
        width: 90%;
    }

    .HEROSECTION_BOX{
        grid-template-columns: 1fr;
        gap: 6rem;
    }
}


@media screen and (max-width:55em){
    .HEROSECTION_BOX{
        grid-template-columns: 1fr;
        gap: 5rem;
    }

    .HEROSECTION_BOX_LEFT {
        padding-right: 2rem;
    }

    .HEROSECTION_BOX_LEFT h1{
        font-size: 3rem;
    }


}