.FOOTER{
    width: 100vw;
    padding: 1rem;
}

.FOOTER_BOX{
    width: 80%;
    display: grid;
    grid-template-columns: 1.3fr repeat(2,1fr) 2fr;
    gap: 2rem;
    margin: 1rem 4rem;
}

.FOOTER_BOX_SOCIAL{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

.FOOTER_SOCIAL{
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.FOOTER_SOCIAL a {
    width: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    height: 1.5rem;
    cursor: pointer;
}

.FOOTER_SOCIAL a:hover{
    background-color: var(--icons-color);
    color: var(--shadow-dark-color);
    border-radius: .2rem;
}


.FOOTER_BOX_DISCOVER_MENU{
    padding: 1rem;
    display: flex;
    flex-direction: column;

}

.FOOTER_BOX_DISCOVER_MENU h {
    font-size: 1.5rem;
    padding: 0 0 1rem 0 ;
}

.FOOTER_BOX_HELPCENTER_MENU{
    padding: 1rem;
    display: flex;
    flex-direction: column;

}

.FOOTER_BOX_HELPCENTER_MENU h {
    font-size: 1.5rem;
    padding: 0 0 1rem 0 ;
}

.SUBSCRIBE{
    padding: 1rem;
    display: flex;
    flex-direction: column;


}

.SUBSCRIBE h3{
    font-size: 1.5rem;
    padding: 0 0 1rem 0 ;
}

.SUBSCRIBE_BOX {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--icons-color);
    color: var(--shadow-dark-color);
    border-radius: 1rem;
    gap: .5rem;
    padding: 1.5rem 2rem;
    margin-top: 0rem;

}

.SUBSCRIBE_BOX input{
    background:transparent;
    border: none;
    outline: none;
    width: 90%;
    color: var(--shadow-dark-color);
}

.SUBSCRIBE_BOX input::placeholder{
    color: var(--shadow-dark-color);
}


.SEND_ICON{
    cursor: pointer;
    font-size: 2rem;
}

.SUBSCRIBE_BOX_INFO{
    padding: 2rem 0 0 0;
    font-size: 1rem;
    font-weight: 500;
}


