
.FILTER{
    width: 100%;
    padding: 4rem 0;
}

.FILTER_BOX{
    width: 80%;
    margin: 0 auto;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4rem;
}

.FILTER_BOX_LEFT{
    display: flex;
    gap: 1.6rem;
}

.FILTER_BOX_LEFT > button {
    color: var(--icons-color);
    font-weight: 600;
    font-size: 1rem;
    /* border: none; */
    border: 1px solid var(--icons-color);
    outline: none;
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    transition: all .3s ease-in;
}

.FILTER_BOX_LEFT > button:hover{
    background-color: var(--icons-color);
    color: var(--icons-bg-color);
}

.FILTER_BOX_RIGHT_BOX{

    display: flex ;
    align-items: center;
    gap: 1rem;
    color: var(--icons-color);
    font-weight: 600;
    font-size: 1rem;
    border: 1px solid var(--icons-color);
    outline: none;
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    transition: all .3s ease-in;

}

.FILTER_BOX_RIGHT_BOX:hover{
    background-color: var(--icons-color);
    color: var(--icons-bg-color);
}

.FILTER_BOX_ITEMS{
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 2rem 0 ;
    border-top: 1px solid var(--icons-color);
}

.FILTER_BOX_ITEMS_BOX{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FILTER_BOX_ITEMS_BOX_ITEM{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    background-color: var(--icons-color);
    padding: .5rem 1rem;
    border-radius: 2rem;
    color: var(--main-bg-color);
    cursor: pointer;
}

.FILTER_BOX_ITEMS_BOX_ITEM_TX{
    border: 1px solid var(--icons-color);
    color: var(--icons-color);
    padding: .5rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
    display:flex;
    align-items: center;
    gap: .5rem;
}



@media screen and (min-device-width:320px) and 
(max-device-width:375px){
    .FILTER_BOX{
        display: grid;
        gap: 2rem;
    }

    .FILTER_BOX_LEFT{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: .4rem;

    }

    .FILTER_BOX_LEFT > button {
        font-size: .5rem;
        padding: 0.4rem .8rem;
        }
    
    .FILTER_BOX_RIGHT_BOX{
        justify-content: space-between;
    }

    .FILTER_BOX_ITEMS{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }

    .FILTER_BOX_ITEMS_BOX_ITEM{
        justify-content: space-between;
    }

    .FILTER_BOX_ITEMS_BOX_ITEM_TX{
        justify-content: space-between;
    }
}


@media screen and (min-device-width:377px) and 
(max-device-width:425px){
    .FILTER_BOX{
        display: grid;
        gap: 2rem;
        width: 90%;
    }

    .FILTER_BOX_LEFT{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .FILTER_BOX_LEFT > button {
        font-size: .5rem;
        padding: 1rem;
        }
    
    .FILTER_BOX_RIGHT_BOX{
        justify-content: space-between;
    }

    .FILTER_BOX_ITEMS{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }

    .FILTER_BOX_ITEMS_BOX_ITEM{
        justify-content: space-between;
    }

    .FILTER_BOX_ITEMS_BOX_ITEM_TX{
        justify-content: space-between;
    }
}


@media screen and (min-device-width:427px) and 
(max-device-width:786px){
    .FILTER_BOX{
        display: grid;
        gap: 2rem;
        width: 90%;
    }

    .FILTER_BOX_LEFT{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .FILTER_BOX_LEFT > button {
        font-size: .5rem;
        padding: 1rem;
        }
    
    .FILTER_BOX_RIGHT_BOX{
        justify-content: space-between;
    }

    .FILTER_BOX_ITEMS{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
        width: 90%;
    }

    .FILTER_BOX_ITEMS_BOX_ITEM{
        justify-content: space-between;
    }

    .FILTER_BOX_ITEMS_BOX_ITEM_TX{
        justify-content: space-between;
    }
}