.Day{
    width: 100;
    border-radius: 1rem;
    transition: all .2s ease-in;
    cursor: pointer;
}
.Day:hover{
    box-shadow: var(--box-shadow);
}

.Day_box_img_img{
    border-radius: 1rem;

}

.Day_box_profile{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    padding: .6rem ;
}

.Day_box_img_img1{
    border-bottom-left-radius: 1rem;
}
.Day_box_img_img3{
    border-bottom-right-radius: 1rem;
}

.Day_box_title{
    padding: 1rem 2rem;

}

.Day_box_title h2{
    font-size: var(--icons-color);
    font-weight: 600;
    font-size: 1.1rem;
}

.Day_box_title_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Day_box_title_info_profile{
    display: flex;
    gap: .8rem;
    font-size: 1.2rem;
    padding: 1rem 0 0 0 ;
}

.Day_box_title_info_profile_img{
    border-radius: 50%;

}

.Day_box_title_info_profile_img span{
    font-weight: 600;    
    padding-inline: .5rem;
    color: var(--icons-color);
}

.Day_box_title_info_price small{
    font-weight: 600;
    border: 2px solid var(--icons-color);
    padding: .5rem;
    border-radius: .5rem;

}


@media screen and (min-device-width:320px) and (max-device-width:768px) {

    .Day{
        width: 90%;
        margin:  0 auto;
    }
    
    .Day_box_profile{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: .8rem;
        padding: .4rem ;
    }


    .Day_box_title{
        padding: .6rem 1rem;
    
    }
    
    .Day_box_title h2{
        font-size: .8rem;
    }
    
    .Day_box_title_info{
        width: 90%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 2rem;
        padding:1rem;
        align-items: center;
    }

    .Day_box_title_info{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .Day_box_title_info_profile{
        font-size: .8rem;
    }

        
    
    .Day_box_title_info_profile_img{
        border-radius: 50%;
    
    }
    
    .Day_box_title_info_profile_img span{
        font-weight: 600;    
        padding-inline: .5rem;
        color: var(--icons-color);
    }
    
    .Day_box_title_info_price small{
        font-weight: 600;
        border: 2px solid var(--icons-color);
        padding: .5rem;
        border-radius: .5rem;
    
    }
}