.AudioCard_box{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6,4fr);

    gap: 1rem;

    border-radius: 2rem;
    box-shadow: var(--box-shadow);
}

.AudioCard_box_like_time{
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 123;

}

.AudioCard_box_like{
    background-color: var(--icons-color);
    color: var(--shadow-dark-color);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .7rem;
    border-radius: 2rem;
    cursor: pointer;
    margin: 1rem;
    overflow: hidden;
    transition: all .3s ease;
}

.AudioCard_box_like:hover{
    background-color: var(--shadow-dark-color);
    color:  var(--icons-color);
    font-weight: 700;

}

.AudioCard_box_like_icon{
    color: red;
    font-size: 1.2rem;
}

.AudioCard_box_time{
    background-color: var(--main-bg-color);
    padding: 1rem 4rem;
    margin-right: -1rem;
    transform: skewX(35deg);
    border-bottom-left-radius: 1rem;
}

.AudioCard_box_time_remaining{
    transform: skewX(-35deg);
    text-align:center ;
}

.AudioCard_box_time_remaining small{
    font-weight: 500;
    color: var(--icons-color);
}

.AudioCard_box_time_remaining h5{
    font-weight: 500;
    font-size: .8rem;
}

.AudioCard_box_Player{
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    display: flex;
    padding-inline:2rem ;
    gap : 4rem;
    align-items: center;
    z-index: 12828;

}

.AudioCard_box_musicPlayer{

}

.AudioCard_box_musicPlayer_icon{
    padding: 1.3rem;
    display: flex;
    align-items: center;
    border-radius: 50%;
    background-color: var(--main-bg-color);
    font-size: 2rem;
    cursor: pointer;
}

.AudioCard_box_details{
    grid-column: 1/ -1;
    grid-row: 5 / -1;
    z-index: 12345;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 1rem 0 ;
    background-color: var(--main-bg-color);
    width: 90%;
    border-top-right-radius: 2rem;
}

.AudioCard_box_details_info{

}

.AudioCard_box_details_info_price{

}

.AudioCard_box_details_info_stock{

}

.AudioCard_box_img{
    grid-column: 1 / -1;
    grid-row: 1 / -1;


}