    .Slider{
    width: 100%;
}

.Slider_box{
    width: 80%;
    margin: 0 auto;
    padding: 0 -1rem 8rem 0;
}

.Slider_box_button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--icons-color);
    font-weight: 600;
}

.Slider_box_button_btn{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}

.Slider_box_button_btn_icon{
    border: 1px solid var(--icons-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    transition: all .3s ease-in;
    cursor: pointer;
    padding: 1rem;
}

.Slider_box_button_btn_icon:hover{
    background-color: var(--icons-color);
    color: #fff;
    box-shadow: var(--box-shadow);
}

.Slider_box_items{
    width: 100%;
    overflow: hidden;
}

.Slider_box_item{
    display: grid;
    grid-template-columns: repeat(6,20.4rem);
    padding: 4rem 2rem;
    cursor: grab;

}

.Slider_box_item::-webkit-scrollbar{
    display: none;

}


@media screen and (max-width:35em){
    .Slider_box_item{
        overflow: auto;
        grid-template-columns: repeat(6,95%);
        padding: 4rem 0;

    }

    .Slider_box{
        width: 90%;
    }

    .Slider_box_button_btn_icon{
        padding: .5rem;
    }
}