
.MAIN{
    width: 80%;
    margin: 0 auto;
}


.CATEGORY{
    padding: 3rem 2rem;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 2rem;

}

.CATEGORY_BOX{
    transition: all .2s ease-in;
    overflow: hidden;
    cursor: pointer;
    border-radius: 1rem;
    padding-bottom: 1rem;

}

.CATEGORY_BOX:hover{
    box-shadow: var(--box-shadow);

}
.CATEGORY_BOX_IMAGE{
    border-radius: 1rem;
}

.CATEGORY_BOX_TITLE{
    display: flex;
    align-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.CATEGORY_BOX_TITLE span{
    font-size: 2rem;
    margin-top: 1rem;
}

.CATEGORY_BOX_TITLE_INFO{
    color: var(--icons-color);

}

.CATEGORY_BOX_TITLE_INFO h4{
    font-weight: 700;
    font-size: 1rem;
}

.CATEGORY_BOX_TITLE_INFO small {
    font-weight: 500;
    font-size: .8rem;
}

@media screen and (min-device-width:320px) and (max-device-width:425px){
    .CATEGORY{
        grid-template-columns: 1fr;
    }

    .MAIN{
        width: 90%;
    }

}

@media screen and (min-device-width:427px) and (max-device-width:770px){
    .CATEGORY{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-device-width:772px) and (max-device-width:1025px){
    .CATEGORY{
        grid-template-columns: 1fr 1fr 1fr;
    }
}