.SliderCard{
    padding: 1rem;
}

.SliderCard_box{
    transition: all .3s ease-in;
    border-radius: 2rem;
    padding-bottom: 1rem;

}

.SliderCard_box:hover{
    box-shadow: var(--box-shadow);
}

.SliderCard_box_img{

}

.SliderCard_box_img_img{
    border-radius: 2rem;
}

.SliderCard_box_title{
    display: flex;
    align-items: center;
    padding-inline: 2rem;
    justify-content: space-between;
    gap: 1rem;
    color: var(--icons-color);
    font-weight: 600;

}

.SliderCard_box_title p {
    font-size: 1.2rem;
    padding: 1rem 0 0 0 ;
    color: var(--icons-color);
    font-weight: 800;
}

.SliderCard_box_price{
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
    margin-top: 1rem;
    text-align: end;
}

.SliderCard_box_price_box{
    border: 1px solid var(--icons-color);
    padding: .2rem .5rem;
    border-radius: .6rem;

}
.SliderCard_box_price_box small{
    background-color: var(--icons-color);
    padding: .1rem .5rem;
    border-radius: .2rem;
    color: var(--main-bg-color);
}

.SliderCard_box_price_box p{
    font-size: 1rem;    
    font-weight: 700;
}

.SliderCard_box_price_time{
    align-items: flex-end;
    display: grid;
    color: var(--icons-color);
    font-weight: 600;
}

.SliderCard_box_price_time p {
    font-weight: 1.2rem;
    font-weight: 800;
}


@media screen and (min-device-width:320px) and (max-device-width:375px){

    .SliderCard{
        padding: .5rem;
    }

    .SliderCard_box_title{
        font-size: 1rem;
    }
    .SliderCard_box_price_box{
        padding: .2rem;
    }

    .SliderCard_box_price_time p {
        font-size: 1rem;
    }

}