.CollectionProfile{
    width: 100%;
    margin-top: 5rem;
}

.CollectionProfile_box{
    width: 80%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 3fr;
    align-content: center;
    gap: 3rem;
    background-color: var(--main-bg-color);
    box-shadow: var(--box-shadow);
    border-radius: 1rem;

    padding: 1rem 2rem;
}

.CollectionProfile_box_left_img{
    border-radius: 1rem;

}
.CollectionProfile_box_left_soical{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    margin-top: 1rem;
}

.CollectionProfile_box_left_soical a {
    background-color: var(--icons-color);
    border: 1px solid var(--icons-color);
    border-radius: 50%;
    cursor: pointer;
    color: var(--main-bg-color);
    padding: .5rem;
    transition: all .3s ease-in;
}

.CollectionProfile_box_left_soical a:hover{
    background-color: var(--main-bg-color);
    color: var(--icons-color);
    box-shadow: var(--box-shadow);
}

.CollectionProfile_box_middle{
    display: grid;
    align-self: flex-start;
    color: var(--icons-color);
}

.CollectionProfile_box_middle h1{
    font-weight: 700;
    font-size: 2rem;
}

.CollectionProfile_box_middle p {
    width: 70%;
    font-size: 1.2rem;
    font-weight: 300;
}

.CollectionProfile_box_middle_box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    background-color: var(--main-bg-color);
    margin-top: 1.5rem;

}

.CollectionProfile_box_middle_box_item{
    background-color: var(--main-bg-color);
    box-shadow: var(--box-shadow);
    padding: 3rem 2rem;
    border-radius: 2rem;
    text-align: center;
    color: var(--icons-color);
    font-weight: 700;

}

.CollectionProfile_box_middle_box_item p {
    font-size: 2rem;

}

.CollectionProfile_box_middle_box_item small {
    display: block;
    line-height: 3;
}

.CollectionProfile_box_middle_box_item span {
    color: lightgreen;
    font-weight: 800;
}




@media  screen and (max-width: 35em) {
    .CollectionProfile_box{
        width: 90%;
        grid-template-columns: 1fr;
        padding: 1rem .5rem;
        gap: 1rem;
    }

    .CollectionProfile_box_middle{
        padding: 1rem;
    }

    .CollectionProfile_box_middle_box{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .CollectionProfile_box_middle h1{
        font-size: 1.6rem;
        line-height: 1;
    }

    .CollectionProfile_box_middle p {
        line-height: 1.2;
        width: 100%;
        
    }

    .CollectionProfile_box_middle_box_item{
        padding: 2rem 1rem;
    }

    .CollectionProfile_box_middle_box_item p {
        font-size: 1rem;

    }

}

@media screen and (min-device-width:768px) and (max-device-width:1024px){

    .CollectionProfile_box{
        width: 90%;
    }

    .CollectionProfile_box{
        width: 90%;
        grid-template-columns: 1fr;
        padding: 1rem .5rem;
        gap: 1rem;
    }

    .CollectionProfile_box_middle{
        padding: 1rem;
    }

    .CollectionProfile_box_middle_box{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .CollectionProfile_box_middle h1{
        font-size: 1.6rem;
        line-height: 1;
    }

    .CollectionProfile_box_middle p {
        line-height: 1.2;
        width: 100%;
        
    }

    .CollectionProfile_box_middle_box_item{
        padding: 2rem 1rem;
    }

    .CollectionProfile_box_middle_box_item p {
        font-size: 1rem;

    }
}


@media screen and (min-device-width:768px) and (max-device-width:1024px){

    .CollectionProfile_box{
        width: 90%;
    }

    .CollectionProfile_box{
        width: 90%;
        grid-template-columns: 1fr;
        padding: 1rem .5rem;
        gap: 1rem;
    }

    .CollectionProfile_box_middle{
        padding: 1rem;
    }

    .CollectionProfile_box_middle_box{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .CollectionProfile_box_middle h1{
        font-size: 1.6rem;
        line-height: 1;
    }

    .CollectionProfile_box_middle p {
        line-height: 1.2;
        width: 100%;
        
    }

    .CollectionProfile_box_middle_box_item{
        padding: 2rem 1rem;
    }

    .CollectionProfile_box_middle_box_item p {
        font-size: 1rem;

    }
}


