.TITLE{
    width: 100%;

}

.TITLE_BOX{
    width: 80%;
    margin: 0 auto;
}


.TITLE_BOX h2{
    font-size: 2.6rem;
    font-weight: 700;
    color: var(--icons-color);

}

.TITLE_BOX p {
    color : var(--icons-color);
    font-size: 1.2rem;
    font-weight: 400;
}

@media screen and (min-device-width:320px) and (max-device-width:425px){
    .TITLE_BOX{
        width: 90%;
    }

    .TITLE_BOX h2{
        font-size: 1.2rem;
    }

    
    .TITLE_BOX p{
        font-size: 0.6rem;
    }
}