
.main{
    background-color: var(--main-bg-color);
}

.mainheading{
    color: var(--icons-color) !important;
    font-size: 4rem;
    font-weight: 700;
    border: 2px solid var(--icons-color);
    padding: 0.4rem 0.8rem;
    border-radius: 1rem;
    margin: 2.5rem 0 2rem 0 ;
}


.uploadassets{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    color: var(--icons-color)!important ;
    background-color: #fff
}

.btnupload{
    border: 2px solid rgba(0, 0, 0, 0.53);
    font-weight: 800;
    font-size: 1rem;
    background-color: red;
}

.btnupload:hover{
    color: #F5F4E4;
}