.SUBSCRIBE{
    width: 100%;
}

.SUBSCRIBE_BOX{
    width: 80%;
    margin:  0 auto;
    padding: 8rem 0;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    align-items: center;
    justify-content: baseline;
}

.SUBSCRIBE_BOX_LEFT h2{
    color: var(--icons-color);
    font-weight: 700;
    font: optional;
    font-size: 2.6rem;
}

.SUBSCRIBE_BOX_LEFT p{
    color: var(--icons-color);
    font-size: 1.2rem;
    font-weight: 500;
}

.SUBSCRIBE_BOX_LEFT_BOX{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    color: var(--icons-color);
    margin: 1rem 0 ;
}

.SUBSCRIBE_BOX_LEFT_BOX span {
    font-weight: 800;
    font-size: 1rem;
    padding: 0.6rem;
    color: #fff;
    border-radius: 50%;
    background-color: var(--icons-color);
}

.SUBSCRIBE_BOX_LEFT_BOX small {
    font-weight: 700;
    font-size: 1.2rem;
}

.SUBSCRIBE_BOX_LEFT_INPUT{
    display: flex ;
    width: 50%;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--icons-color);
    color: var(--shadow-dark-color);
    border-radius: 1rem;
    gap: .5rem;
    padding: 1.5rem 2rem;
    margin-top: 0rem;

}


.SUBSCRIBE_BOX_LEFT_INPUT input{
    background:transparent;
    border: none;
    outline: none;
    width: 90%;
    color: var(--shadow-dark-color);
}

.SUBSCRIBE_BOX_LEFT_INPUT_ICON{
    cursor: pointer;
}



@media screen and (min-device-width:320px ) and (max-device-width:768px) {
    .SUBSCRIBE_BOX{
        width: 90%;
        margin:  0 auto;
        padding: 4rem 0;
        display: grid;
        grid-template-columns: 1fr ;
        align-items: center;
        justify-content: center;
        /* margin: 1rem 0 2rem 0 ; */
    }

    .SUBSCRIBE_BOX_LEFT h2{
        color: var(--icons-color);
        font-weight: 700;
        font: optional;
        font-size: 1.8rem;
    }
    
    .SUBSCRIBE_BOX_LEFT p{
        color: var(--icons-color);
        font-size: 0.6rem;
        font-weight: 500;
    }
    
    .SUBSCRIBE_BOX_LEFT_BOX{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        color: var(--icons-color);
        margin: 1rem 0 ;
    }
    
    .SUBSCRIBE_BOX_LEFT_BOX span {
        font-weight: 800;
        font-size: 0.8rem;
        padding: 0.5rem;
        color: #fff;
        border-radius: 50%;
        background-color: var(--icons-color);
    }
    
    .SUBSCRIBE_BOX_LEFT_BOX small {
        font-weight: 700;
        font-size: 1rem;
    }
    
    .SUBSCRIBE_BOX_LEFT_INPUT{
        display: flex ;
        width: 60%;
        gap: 1rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--icons-color);
        color: var(--shadow-dark-color);
        border-radius: 1rem;
        gap: .5rem;
        padding: 0.8rem 1rem;
        margin-top: 1rem;
    
    }

    
.SUBSCRIBE_BOX_LEFT_INPUT input{
    background:transparent;
    border: none;
    outline: none;
    width: 90%;
    color: var(--shadow-dark-color);
}

.SUBSCRIBE_BOX_RIGHT{
    display: none;
}

    

}