.collection{
    width: 100%;
    margin: 3rem 0 ;
    padding-bottom: 8rem;
    
}


.collection_title{
    width: 35rem;
    margin: 0 auto;
    padding: 0 0 6rem 0;
    text-align: center;
}

.collection_title h2{
    font-size: 2.6rem;
    margin-bottom: 4rem;
    color: var(--icons-color);
    font-weight: 600;
}

.collection_collections_btn{
    background-color: var(--main-bg-color);
    padding: .5rem 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
    font-size: 1.1rem;
    box-shadow: var(--box-shadow);
}

.collection_collections_btn button{
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: space-around;
    padding: .4rem 0.8rem;
    border-radius: 1rem;
    transition: all .4s ease-in;
}

.collection_collections_btn button:hover{
    color:#fff;
    background-color: var(--icons-color);
}


.collection_box{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}





@media screen and (min-device-width:320px) and (max-device-width:425px) {
    .collection{
        width: 90%;
    }

    .collection_title{
        width: 90%;
    }
    
    .collection_title h2{
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }
    
    .collection_box{
        width: 90%;
        grid-template-columns: 1fr ;
        gap: 4rem;
    }

    .collection_collections_btn button span{
        display: none;
    }
}


@media screen and (min-device-width:427px) and (max-device-width:1024px) {

    .collection_title{
        width: 90%;
    }

    .collection_box{
        width: 90%;
        grid-template-columns: 1fr 1fr ;
        gap: 4rem;
    }

    .collection_collections_btn button span{
        display: none;
    }
}