.NFTCARD{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    width: 100%;
    /* margin: 3rem; */
    margin: 0 0 8rem 0 ;
}

.NFTCARD_BOX{
    width: 80%;
    margin: 0 auto;
    background-color: var(--shadow-light);
    padding: 1rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    cursor: pointer;
    transition: all .4s ease-in;
}

.NFTCARD_BOX:hover{
    box-shadow: var(--box-shadow);

}

.NFTCARD_BOX_IMAGE{
    grid-column: 1 / -1;
    grid-row: 1 / end;
    overflow: hidden;
    border-radius: 1rem;
}

.NFTCARD_BOX_IMAGE_IMG{
    border-radius: 1rem;
    transition: all .3s ease-in;
}

.NFTCARD_BOX:hover .NFTCARD_BOX_IMAGE{
    transform: scale(1.05);
    border-radius: 1rem;

}

.NFTCARD_BOX_UPDATE{
    grid-column: 1/-1;
    grid-row:1/-2;
    z-index: 1111;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
}

.NFTCARD_BOX_UPDATE_LEFT{
    background-color: var(--icons-color);
    padding: .5rem 1rem;
    color: var(--main-bg-color);
    border-radius: 2rem;
    margin: 1rem;

}

.NFTCARD_BOX_UPDATE_LEFT_LIKE{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.NFTCARD_BOX_UPDATE_RIGHT{
    background-color: var(--shadow-light-color);
    padding: .5rem 5rem;
    text-align: center;
    transform: skewX(45deg);
    border-bottom-left-radius: 1rem;
    margin-right: -2rem;
}

.NFTCARD_BOX_UPDATE_RIGHT_INFO{
    transform: skewX(-45deg);
    background-color: var(--shadow-light);
}

.NFTCARD_BOX_UPDATE_RIGHT_INFO small{
    color: var(--icons-color);
    font-size: .8rem;
    font-weight: 500;
}

.NFTCARD_BOX_UPDATE_RIGHT_INFO p {
    color: var(--icons-color);
    font-weight: 600;
    font-size: 1.1rem;
}

.NFTCARD_BOX_UPDATE_DETAILS{
    grid-column: 1 / -1;
    grid-row: 3 / -1;
    z-index: 111111;
    align-items: flex-end;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    overflow: hidden;
}

.NFTCARD_BOX_UPDATE_DETAILS_PRICE{
    background-color: var(--shadow-light-color);
    /* margin-left: -3rem; */
    padding: 0 .5rem;
    border-top-right-radius:1rem ;
    transform: skewX(45deg);
}

.NFTCARD_BOX_UPDATE_DETAILS_PRICE_BOX {
    padding-left: 3rem;
    transform: skewX(-45deg);
}

.NFTCARD_BOX_UPDATE_DETAILS_PRICE_BOX h4{
    font-size: 1.2rem;

}

.NFTCARD_BOX_UPDATE_DETAILS_PRICE_BOX_BOX{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.NFTCARD_BOX_UPDATE_DETAILS_PRICE_BOX_BOX_BID{
    border: 1px solid var(--icons-color);
    padding: .2rem .5rem;
    align-items: center;
    border-radius: .3rem;

}

.NFTCARD_BOX_UPDATE_DETAILS_PRICE_BOX_BOX_BID small {
    background-color: var(--icons-color);
    color: var(--main-bg-color);
    border-radius: .2rem;
    padding: .2rem;
}

.NFTCARD_BOX_UPDATE_DETAILS_PRICE_BOX_BOX_BID p{
    padding: .5rem 0 0 0 ;
    font-size: 0.8rem;
    font-weight: 600;
}

.NFTCARD_BOX_UPDATE_DETAILS_PRICE_BOX_STOCK{

    color: var(--icons-color);
    font-weight: 600;
    font-size: 1rem;

}

.NFTCARD_BOX_UPDATE_DETAILS_CATEGORY{
    color: var(--icons-color);
    text-align: center;
    margin: 1rem;
    font-size: 1.2rem;

}

@media screen and (min-device-width:320px) and 
(max-device-width:425px)
{
    .NFTCARD{
        grid-template-columns: 1fr;
    margin: 0 auto;

    }
    
    .NFTCARD_BOX_UPDATE_RIGHT{
        padding: .5rem 2rem;
    }
    
    .NFTCARD_BOX_UPDATE_RIGHT_INFO small{
        font-size: .6rem;
    }
    
    .NFTCARD_BOX_UPDATE_RIGHT_INFO p {
        font-size: .7rem;
    }
    
    .NFTCARD_BOX_UPDATE_DETAILS_PRICE_BOX h4{
        font-size: .8rem;
    
    }
    

    .NFTCARD_BOX_UPDATE_DETAILS_PRICE_BOX_BOX_BID p{
        padding: .5rem 0 0 0 ;
        font-size: 0.6rem;
        font-weight: 600;
    }
    
    .NFTCARD_BOX_UPDATE_DETAILS_PRICE_BOX_STOCK{
    
        font-weight: 700;
        font-size: .8rem;
    
    }
    
    .NFTCARD_BOX_UPDATE_DETAILS_CATEGORY{
        font-size: .8rem;
    
    }
    
    
    
}

@media screen and (min-device-width:427px) and 
(max-device-width:768px)
{
    .NFTCARD{
        width: 90%;
    margin: 0 auto;

        grid-template-columns: repeat(2,1fr);
    }
    
    .NFTCARD_BOX_UPDATE_RIGHT{
        padding: .5rem 2rem;
    }
    
    .NFTCARD_BOX_UPDATE_RIGHT_INFO small{
        font-size: .6rem;
    }
    
    .NFTCARD_BOX_UPDATE_RIGHT_INFO p {
        font-size: .7rem;
    }
    
    .NFTCARD_BOX_UPDATE_DETAILS_PRICE_BOX h4{
        font-size: .8rem;
    
    }
    

    .NFTCARD_BOX_UPDATE_DETAILS_PRICE_BOX_BOX_BID p{
        padding: .5rem 0 0 0 ;
        font-size: 0.6rem;
        font-weight: 600;
    }
    
    .NFTCARD_BOX_UPDATE_DETAILS_PRICE_BOX_STOCK{
    
        font-weight: 700;
        font-size: .8rem;
    
    }
    
    .NFTCARD_BOX_UPDATE_DETAILS_CATEGORY{
        font-size: .8rem;
    
    }
    
    
    
}

@media screen and (min-device-width:770px) and 
(max-device-width:1024px)
{
    .NFTCARD{
        grid-template-columns: repeat(2,1fr);
    margin: 0 auto;

    }
    

    
    
}