.SIDEBAR{
    padding: 2rem;
    border-bottom: 1px solid var(--icons-color);
}

.SIDEBAR_BOX{
    padding: 1rem;
    background-color: var(--main-bg-color);
}

.SIDEBAR_CLOSE_BTN{
    position: absolute;
    top: 3rem;
    right: 2rem;
    transition: all .2s ease-in;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.SIDEBAR_CLOSE_BTN:hover{
    transform: rotate(45deg);
}

.SIDEBAR_BOX p {
    margin-top: 1rem;
}

.SIDEBAR_SOCIALS{
    display: flex;
    padding: 1.5rem 1rem;
    gap: 1rem;
    align-items: center;
    transition: all .2s ease-in;
}



.SIDEBAR_SOCIALS  a:hover{
    background-color: var(--icons-color);
    color: var(--shadow-dark-color);
    box-shadow: 1px solid var(--icons-color);
    border-radius: .5rem;
}

.SOCIAL_ICONS{
    width: 1.5rem;
    height: 1.5rem;
}


.SIDEBAR_MENU{
    padding: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 1px solid var(--icons-color);

}

.SIDEBAR_MENU_BOX{
    display: flex ;
    gap: .5rem;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    padding: 1rem .5rem;

}

.SIDEBAR_DISCOVER{
    padding: 1rem .5rem;
}

.SIDEBAR_DISCOVER p {
    padding: .5rem;
}

.SIDEBAR_DISCOVER p:hover{
    background-color: var(--icons-color);
    color: var(--shadow-dark-color);
    box-shadow: 1px solid var(--icons-color);
    border-radius: .5rem;
}


.SIDEBAR_HELPCENTER{
    padding: 1rem .5rem;

}

.SIDEBAR_HELPCENTER p {
    padding: .5rem;
}

.SIDEBAR_HELPCENTER p:hover{
    background-color: var(--icons-color);
    color: var(--shadow-dark-color);
    box-shadow: 1px solid var(--icons-color);
    border-radius: .5rem;
}


.SIDEBAR_BUTTON{
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}